/*
 * @Author: cpasion-office-win10 373704015@qq.com
 * @Date: 2023-04-07 08:49:40
 * @LastEditors: Capsion 373704015@qq.com
 * @LastEditTime: 2025-02-21 22:56:18
 * @FilePath: \cps-blog\src\components\bubbleText\bubble.css
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
.bubble {
  /* 径向渐变 */
  background: radial-gradient(circle at 75% 30%, #fff 5px, #ff21c0 8%, #5b5b5b 60%, #ff21c0 100%);
  /* 阴影 */
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc, inset 80px 0 60px #efcde6, inset -20px -60px 100px #f9f6de, inset 0 50px 140px #f9f6de,
    0 0 90px #fff;
}

.bubbleWarp {
  position: absolute;
  pointer-events: auto;
  border-radius: 0.75rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: rgb(253 186 116 / 0.1);
}

@keyframes up-and-down-1 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40%);
  }
}

@keyframes up-and-down-2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40%);
  }
}
