.footer {
  z-index: -1;
  --footer-background: #303846;
  display: grid;
  position: relative;
  grid-area: footer;
  /* min-height: 12rem; */
  background: var(--footer-background);
  overflow-x: clip; /* 防止左右溢出 */
  /* transform: translateY(10px); */
}

.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

.bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

.background {
  z-index: 2;
  display: flex;
  padding: 2rem;
  background: var(--footer-background);
  height: 100%;
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
