@keyframes up-and-down-1 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40%);
  }
}

@keyframes up-and-down-2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40%);
  }
}
